body{
    background: linear-gradient(black, red);
    height: 100vh;
}

.raf{
    border-style: solid;
    border-radius: 50%;
    background: linear-gradient(rgb(136, 6, 6), rgb(243, 42, 42));
    height: 100vh;
    position: absolute;
}

h3{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    position: absolute;
    top: 40px;
    left: 5px;
    animation: font 5s ease-in-out infinite;
}
@keyframes font{
    20%{
        transform: translateX(600px);
    }
    50%{
        transform: translateX(0px);
    }
}